DATABASE_URL=postgresql://postgres.[ref]:[password]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.[ref]:[password]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJ...
JWT_SECRET=your-supabase-jwt-secret
PORT=3001
FRONTEND_URL=http://localhost:3000,https://your-vercel-app.vercel.app

ADMIN_EMAIL=asdf@yahoo.com
ADMIN_PASSWORD=test123

ADMIN_EMAIL_2=admin2@gmail.com
ADMIN_PASSWORD_2=123

ADMIN_EMAIL_3=admin3@gmail.com
ADMIN_PASSWORD_3=123